@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello, Vasko!</h1>
    <p>Welcome! This application is powered by .NET 9, ensuring high performance, reliability, and the latest in technology innovation.</p>
</div>
